:root {
    --primary-color: white;
    --secondary-color:black;
    --tertiary-color:orange;
  }

*{
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  header {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color:var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position:sticky;
    top:0;
    z-index: 9999;
  }

  header h1{
    font-weight: bold;
    font-size: 36px;
    color:var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.lastname {
    color: var(--tertiary-color);
}


header a{
    color: var(--primary-color);
    text-decoration: none;
  }

  header nav{
      margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  section{
    padding: 20px; 
   }

.hero{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .hero-img{
   margin: 3.5%;
   }

   .avatar{
       border-radius: 50%;
    }

      
  .intro p {
    line-height: 1.7;
    color: var(--secondary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center
  }

  .flex-row {
    display: flex;
  }

  .section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }

  .primary-border {
    border-color: var(--tertiary-color);
  }

  .my-work{
    margin: auto;
    padding-bottom: 50px;
    width: 80%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    
  }
  .work-header {
    width: 100%
  }
  .work1 {
    width: 100%; 
  }
  
  .work1-img{
    flex: 1;
    opacity: 25%;
    width: 100%;
    height: 100%;
  }
  .work1-img:hover {
    opacity: 100%;
    transform: scale(1.5);
  }

  .contact-info a {
    color: var(--secondary-color);
  }
 
  .contact-info{
    margin: 7px 0;
    font-size: 20px;
}

  .contact-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#work {
  padding: 0px;
}
.work-flex {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.work-a {
  width: 40%;
  height: 100%;
  margin: 2%;
  position: relative;
}

.work-a:hover .text{
  display: none;

}

.work-a:hover .work1-img{
transform: scale(1.5);
}

.text {
  position: absolute;
  bottom: 3px;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.6); 
  color: var(--tertiary-color);
  width: 100%;
  padding-top: 5%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen  and (max-width:980px) {
}

 /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header nav ul li a {
    font-size: large;
  }

  .text{
    font-size: small;
  }
}